<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/icon.jpg">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>


    <div class="main-content">
        {{>header}}
        <img calss = "portrait" src = "/images/robot.jpg">
    </div>
    {{>footer}}

</body>

</html>